.title {
  @include fluid(font-size, 38px, 56px);
  font-weight: bold;
  margin: 40px 0;
}
.container {
}
.item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  // flex-grow: 1;
  // top: 20%;
  // left: 20%;
  z-index: 3;
  background: #1d1932;
  border-radius: 14px;
  padding: 30px;
}
