//код для переопределения стилей библиотек

.swiper-wrapper {
  display: flex;
  justify-content: center;
}
.dot {
  background: #fff;
}
.ant-input,
.ant-input-affix-wrapper,
.ant-select-selector {
  background: #1d1932;
  border-radius: 12px !important;
  border: none !important;
  padding: 10px 20px;
  outline: none;
}
.ant-input-suffix {
  .anticon {
    color: #6c7aa0 !important;
  }
}
.ant-scroll-number {
  background: #6f4ff2 !important;
}
.ant-select-arrow {
  color: #6c7aa0 !important;
}
.ant-select-selector {
  height: 42px !important;
  background: #1d1932 !important;
}
.ant-input-affix-wrapper {
  input {
    background: transparent;
    width: 100% !important;
    border-radius: 0px !important;
  }
}
.ant-form-item-label {
  label {
    color: #fff !important;
  }
}
.ant-select-selection-item,
.ant-input-affix-wrapper {
  color: rgba(255, 255, 255, 0.776) !important;
  // padding-top: 5px !important;
}

.ant-upload-list-item {
  border: 1px solid #424242 !important;
}
