.footer {
  // @include fluid(margin-top, 100px, 180px);
  background: rgba(30, 30, 32, 0.5);
  padding: 40px 0px;
  width: 100%;
}
.wrapper {
  @include container;
  display: flex;
  justify-content: space-between;
}
