.footer {
  // @include fluid(margin-top, 100px, 180px);
  background: rgba(30, 30, 32, 0.5);
  padding: 40px 0px;
  width: 100%;

  @media screen and (max-width: $breakpoint-md) {
    padding-bottom: 100px;
  }
}
.wrapper {
  @include container;
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
}
.header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.icon {
  cursor: pointer;
  transition: fill 0.3s;

  path {
    fill: #6f4ff2 !important;
  }

  &:hover {
    path {
      fill: #a484fa !important;
    }
  }
}
