.container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 5rem;

  @media screen and (max-width: $breakpoint-lg) {
    display: flex;
    flex-direction: column;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
  background: #1d1932;
  border-radius: 18px;
  padding: 30px;
}
