.button {
  background: #6f4ff2;
  border-radius: 5px;
  padding: 7px 40px;
  color: #fff;
  white-space: nowrap;
  transition: $trn;

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }
}
.disabled {
  cursor: not-allowed;
  opacity: 0.4;

  &:hover {
    opacity: 0.4;
  }
}
.danger {
  background: #dc3546;
  border-radius: 5px;
  padding: 7px 40px;
  color: #fff;
}
.primary {
  background: none;
  border: 1px solid #fff;
}
.spinner {
  transition: transform 2s ease-in-out;

  @keyframes in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
