.button {
  background: #6f4ff2;
  border-radius: 5px;
  padding: 7px 40px;
  color: #fff;

  &:hover {
    opacity: 0.7;
    transition: $trn;
  }
}
.danger {
  background: #dc3546;
  border-radius: 5px;
  padding: 7px 40px;
  color: #fff;

  &:hover {
    opacity: 0.7;
    transition: $trn;
  }
}
.primary {
  background: none;
  border: 1px solid #fff;

  &:hover {
    opacity: 0.7;
    transition: $trn;
  }
}
