.button {
  background: #6f4ff2;
  border-radius: 5px;
  padding: 7px 40px;
  color: #fff;

  &:hover {
    opacity: 0.9;
    transition: $trn;
  }
}
.danger {
  background: #dc3546;
  border-radius: 5px;
  padding: 7px 40px;
  color: #fff;
}
.primary {
  background: none;
  border: 1px solid #fff;
}
.spinner {
  transition: transform 2s ease-in-out;

  @keyframes in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
