.wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 40px;

  @media screen and (max-width: $breakpoint-md) {
    grid-template-columns: 1fr;
  }
}
.item {
  background: #1d1932;
  border-radius: 18px;
  padding: 20px;
  height: max-content;
}
